[user]
	name = Ric Ewing
	email = ricewing@google.com
[credential]
	helper = osxkeychain
[alias]
    st = status
    ci = commit -m
    co = checkout
    br = branch
    brr = branch -r
    mf = merge --no-ff
    lg = log --pretty=format:'\t%C(cyan bold dim)%h%Creset%C(auto) %s %C(yellow dim)%C(cyan dim)%an %Creset%C(yellow dim)%ar%Creset %C(auto)%d' --graph --decorate=full --all
    l = log --pretty=format:'\t%C(cyan dim)%h%Creset%C(auto) %<(50,trunc)%s %C(yellow dim)%C(cyan dim)%<(14)%an %Creset%C(yellow dim)%<(10)%ar%Creset %C(auto)%d' --graph --decorate=full
    f = fetch origin -p
    rb = rebase origin/develop
		pm = push origin master
[push]
	default = matching
[color]
	ui = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[core]
	excludesfile = /Users/ricewing/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[fetch]
	prune = true
