"*":
  "atom-material-ui":
    colors:
      abaseColor: "#597482"
      accentColor: "#88b2c8"
      paintCursor: true
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    closeDeletedFileTabs: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".localized"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Source Code Pro"
    lineHeight: 1.6
    showIndentGuide: true
  "exception-reporting":
    userId: "7a87d73a-7485-4214-b857-0309afef186e"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  "one-dark-ui":
    hideDockButtons: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
".plain.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
